<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="POSDB" connectionString="metadata=res://*/Datamodel.POSModel.csdl|res://*/Datamodel.POSModel.ssdl|res://*/Datamodel.POSModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=posdb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>